TASK_HUNTER_POSTGRES_PASSWORD=replace-with-a-local-password
TASKS_IT_URL=http://host.docker.internal:8082
TASK_HUNTER_INGEST_TOKEN=replace-with-a-long-random-ingest-token
TASK_HUNTER_GATEWAY_TOKEN=replace-with-a-long-random-gateway-token
TASK_HUNTER_TELEGRAM_API_ID=123456
TASK_HUNTER_TELEGRAM_API_HASH=replace-with-telegram-api-hash
TASK_HUNTER_TELEGRAM_CHANNELS=analytic_postupashki,postupashki_ml,algoses
TASK_HUNTER_CRON=0 */6 * * *
TASK_HUNTER_DEFAULT_LIMIT=100
